@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --mainColor: #fff;
    --mainLightColor: rgba(235, 235, 235, 0.5);
    --mainDimColor: rgb(228, 228, 228);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #8EC1D6;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    font-family: 'Poppins';
}

.backgroundVideo {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
    filter: saturate(2.5);
}

.blackScreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    background-color: rgba(17, 17, 17, 0.2);
}

.music-Container {
    width: 350px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 36px;
    box-shadow: 0 0 20px rgba(26, 26, 26, 0.1),
        0 0 40px rgba(26, 26, 26, 0.1),
        0 0 80px rgba(26, 26, 26, 0.1);
    backdrop-filter: blur(15px);
    font-weight: 600;
}

.musicPlayer {
    margin: 0;
    margin-bottom: 10px;
    color: var(--mainLightColor);
}

.music-Head-Name {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

.music-Artist-Name {
    color: var(--mainDimColor);
    margin: 4px 0;
    font-size: 1.2rem;
    font-weight: 400;
}


#songAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 18px 0;
    position: relative;
    cursor: pointer;
    animation: animateAvatar .5s linear infinite;
}

@keyframes animateAvatar {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }
}

.musicTimerDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}

.musicProgressBar {
    width: 100%;
    margin-bottom: 16px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    filter: hue-rotate(20deg);
}

.playBtn {
    font-size: 32px;
    margin: 8px 10px;
    color: var(--mainColor);
    cursor: pointer;
    font-weight: 400;
}

.musicControler {
    cursor: pointer;
    font-size: 28px;
    color: var(--mainColor);
}

.app {
    text-align: center;
}

.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;



}

.searchContainer {
    margin: 20px auto;
    width: 500px;
    height: 600px;
    background-color: #3CB35A;
    border-radius: 10px;


}

.searchContainer .SearchForm {
    display: flex;
    flex-direction: row;
}

.searchContainer h2 {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin: 20px auto;
}

.searchContainer input {
    display: block;
    width: 60%;
    height: 55px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: black;
}

.searchContainer button {
    background-color: #8EC1D6;
    width: 15%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 7px;
    margin: 5px 19px;
    border: none;
    padding: 0 10px;

}

.searchContainer .logOut {
    background-color: #d64e64;
    padding: 5px 5px;
    font-size: 20px;



}

.searchContainer a {
    background-color: #8EC1D6;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 7px;
    padding: 8px 10px;
    text-decoration: none;
    position: relative;
    top: 20px;

}

.searchContainer button:hover {
    background-color: #6EA4B9;
}